#title{
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  margin-top: 20px;
}

#logo {
      width: 150px;
      height: 103px;
      margin-left: 20px;
      margin-top: 20px;
}

.iconDetails {
margin-left:2%;
float:left;
height:105px;
width:150px;
text-align: center;
font-family: 'Darker Grotesque', sans-serif;

}

.container2 {
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  margin: 10, auto;
 width:100%;
 height:auto;
 padding:1%;
}
