html{
  /* height: 100%; */
}

#logo{
  width: 330px;
  height: 190px;
}

html, body{
 /* height: 100%; */
 background: url(../images/bg.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 /* margin-top: -20px; */
 /* margin-bottom:0px; */
}

.center {
  /* display: block;
  margin: 0 auto; */
  /* width: 500px; */
}

.wrapper {
  text-align: center;
  /* display: flex; */
  /* justify-content: center; /* align horizontal */ */
  /* align-items: center; */
  /* flex-wrap: wrap; */
}

.signin{
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-self: center; */
}
